.error {
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

.error__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.error__message {
  text-wrap: balance;
  font-size: 2rem;
  font-weight: bold;
}

.error__separator {
  width: 1px;
  height: 3rem;
  background-color: var(--border);
}

.error__details {
  text-wrap: pretty;
}
